/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.webrtc-permissions-ui-button
{
	list-style-image: url("chrome://webrtc-permissions-ui-toggle/content/icon.png");
	-moz-image-region: rect(0px 48px 48px 0px);
}
.webrtc-permissions-ui-button.setting-true image {
	list-style-image: url("chrome://webrtc-permissions-ui-toggle/content/icon-override.png");
}

.webrtc-permissions-ui-button image {
	width: 24px;
	height: 24px;
}
[iconsize="small"] .webrtc-permissions-ui-button image {
	width: 16px;
	height: 16px;
}
